name: Publish

on: [push]

jobs:
  publish:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Setup NodeJS
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
    - name: Install pnpm
      run: npm install -g pnpm
    - name: Build
      run: |
        pnpm install
        pnpm run build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public